.main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url('../../mainpic.jpg');
    background-position: center;
    background-size: cover;
}

.title {
    font-size: 55px;
}

.subtitle {
    font-size: 22px;
    padding-top: 10px;
}

.intro-text {
    width: 100%;
    text-align: left;
}

.registerButton {
    margin-left: 10px;
}

.loginButton {
    width: 200px;
    height: 44px;
}

.registerButton {
    width: 140px;
    height: 44px;
}

/* .buttonContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
} */

/* @media only screen and (min-width: 1200px) {
    .buttonContainer {
      padding: 0 200px;
    }
    .title {
      padding: 0 100px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .title {
      font-size: 60px;
    }
    .landingbutton {
      width: 150px;
      height: 50px;
    }
  } */

