MONGO_LOGIN=
MONGO_PASSWORD=

# MONGO_HOST - это имя образа в docker-compose файле в моем случае: mongodb
MONGO_HOST=
MONGO_PORT=
#Example admin db
MONGO_AUTHDATABASE=admin
JWT_SECRET=

TELEGRAM_BOT_TOKEN=

#APP PORT 5002 on DEVELOPMENT TO 5000(DOCKER)
PORT=