MONGO_LOGIN=
MONGO_PASSWORD=

# MONGO_HOST - это имя образа в docker-compose файле в моем случае: mongo
MONGO_HOST=
MONGO_PORT=
#Example dev db
MONGO_AUTHDATABASE=dev
JWT_SECRET=

TELEGRAM_BOT_TOKEN=

#APP PORT 
PORT=